<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Frame View: 04 Tree.</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<style type="text/css" media="screen">
			.fullScreen {
				overflow: hidden
			}
		</style>
		<link type="text/css" href="../../Visualization/Jit/Examples/css/base.css" rel="stylesheet" />
		<link type="text/css" href="../../Visualization/Jit/Examples/css/Spacetree.css" rel="stylesheet" />

		<script src="../../Core/Frame.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../Visualization/Jit/jit.js" language="javascript" type="text/javascript"></script>
		<script src="../../Visualization/Jit/Examples/Spacetree/OnDemand.js" type="text/javascript" charset="utf-8"></script>

		<script type="text/javascript" charset="utf-8">
			var frame = null;
			var frameControl = null;

			function loadFrame(frameJSON)
			{
				var initNodes;
				try
				{
					initNodes = JSON.parse(frameJSON).nodes;
				}
				catch (e)
				{
					console.log('Can not parse given content string as JSON. String: ' + frameJSON + '; Name: ' + e.name + '; Desc: ' + e.message);
					initNodes = {};
				}

				frame = new Frame(initNodes);
				frameControl = new FrameControl(frame);
			}

			function SpacetreeDataGenerator()
			{
				function SpacetreeNode(initUuid, initName, initData)
				{
					this.id = initUuid || (new Uuid()).generate();
					this.name = initName || '';
					this.data = initData || {};
					this.children = [];
				}

				this.create = function()
				{
					var uuid = new Uuid();
					var root = new SpacetreeNode(null,'Frame', {nodeUuid:uuid.empty, parentNodeUuid:uuid.empty});

					var matrix = frameControl.getMatrix();
					for (var nodeId in matrix)
					{
						var nodeControl = frameControl.getElement(nodeId);
						if (Object.keys(nodeControl.getMatrix()).length === 0)
						{
							root.children.push(
								new SpacetreeNode(
									null,
									nodeControl.getContent(),
									{nodeUuid:nodeId, parentNodeUuid:uuid.empty}
								)
							);
						}
					}
					return root;
				};

				this.expand = function(subrootFrameNodeId, needLevels)
				{
					var root = new SpacetreeNode(null, 'subroot', {nodeUuid: subrootFrameNodeId});
					var matrix = frameControl.getMatrix();

					function collectConcreteNodes(abstract)
					{
						var concreteNodes = [];
						for (var nodeId in matrix)
						{
							var nodeControl = frameControl.getElement(nodeId);
							var linkMatrix = nodeControl.getMatrix();
							if (abstract.frame in linkMatrix)
							{
								var newTreeNode = new SpacetreeNode(
									null,
									nodeControl.getContent(),
									{nodeUuid: nodeId, parentNodeUuid: abstract.frame}
								);
								abstract.tree.children.push(newTreeNode);
								concreteNodes.push({frame: nodeId, tree: newTreeNode});
							}
						}
						return concreteNodes;
					}

					var builtLevels = 0;
					var concreteNodes = collectConcreteNodes({frame: subrootFrameNodeId, tree: root});
					++builtLevels;
					for (var i = builtLevels; i < needLevels; ++i)
					{
						var newConcreteNodes = [];
						for (var j = 0; j < concreteNodes.length; ++j)
						{
							newConcreteNodes.concat(collectConcreteNodes(concreteNodes[j]));
						}
						concreteNodes = newConcreteNodes;
					}
					return root;
				};
			}

			function viewFrame(levelsToShow, selection)
			{
				function callbackSelectedTreeNode(treeNode)
				{
					var linkView = document.getElementById('linkView');
					linkView.innerHTML = '';
					var selectedNodeId = treeNode.data.nodeUuid;
					var parentNodeId = treeNode.data.parentNodeUuid;
					var uuid = new Uuid();
					if (selectedNodeId === uuid.empty || parentNodeId === uuid.empty)
						return;

					function onAspectButtonClick()
					{
						var pageAspectView =
							document.location.href +
							'?frame=' + encodeURIComponent(frameControl.getCode(true)) +
							'&selection=' + this.title +
							'&levels=32000';
						window.open(pageAspectView);
					}

					var linkViewQ = document.createElement("blockquote");
					linkView.appendChild(linkViewQ);

					var parentNodeControl = frameControl.getElement(parentNodeId);
					var abstractNodeElement = document.createElement("h5");
					abstractNodeElement.innerHTML = parentNodeControl.getContent();
					abstractNodeElement.title = parentNodeControl.getId();
					linkViewQ.appendChild(abstractNodeElement);

					var nodeControl = frameControl.getElement(selectedNodeId);
					var linkControl = nodeControl.getElement(parentNodeId);
					if (linkControl)
					{
						var aspectMatrix = linkControl.getMatrix();
						for (var aspectId in aspectMatrix)
						{
							var aspectControl = frameControl.getElement(aspectId);
							var aspectElement = document.createElement("button");
							aspectElement.innerHTML = aspectControl.getContent();
							aspectElement.title = aspectControl.getId();
							aspectElement.onclick = onAspectButtonClick;
							linkViewQ.appendChild(aspectElement);
						}
					}
					else
					{
						console.log('TreeNode ' + selectedNodeId + ' contains error in .data.parentNodeUuid = ' + parentNodeId +
							' but it is not a valid abstract link!'
						);
					}
					var concreteNodeElement = document.createElement("h5");
					concreteNodeElement.innerHTML = nodeControl.getContent();
					concreteNodeElement.title = nodeControl.getId();
					linkViewQ.appendChild(concreteNodeElement);
				}

				var spacetreeDataGenerator = new SpacetreeDataGenerator();
				init('infovis', levelsToShow, spacetreeDataGenerator.create(), spacetreeDataGenerator.expand, callbackSelectedTreeNode, selection);
			}

			function onClickLoadFrame(source, levelsToShow, selection)
			{
				loadFrame(source.value);
				source.value = '';
				viewFrame(levelsToShow, selection);
			}

			function onLoadBody()
			{
				function gup( name )
				{
					name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
					var regexS = "[\\?&]"+name+"=([^&#]*)";
					var regex = new RegExp(regexS);
					var results = regex.exec(window.location.href);
					if (results)
						return results[1];
					return null;
				}

				var frameParameter = gup('frame');
				if (frameParameter)
				{
					frameParameter = decodeURIComponent(frameParameter);
					var sourceElement = document.getElementById('frameSource');
					sourceElement.value = frameParameter;
					var selectionParameter = gup('selection');
					var levelsToShowParameter = gup('levels');
					onClickLoadFrame(sourceElement, levelsToShowParameter, selectionParameter);
				}
			}
		</script>
	</head>
	<body onload='onLoadBody();'>
		<div id="container">
			<div id="left-container">
				<div id="source">
					<h4>JSON Frame Source:</h4>
					<textarea id="frameSource">Place your Frame here.</textarea>
					<button onclick="onClickLoadFrame(document.getElementById('frameSource'), 2);">
						Load Frame
					</button>
					<h4>Link Aspects:</h4>
					<div id="linkView"></div>
				</div>
			</div>
			<div id="center-container">
			    <div id="infovis"></div>
			</div>
			<div id="right-container">
				<h4>Frame Tree Orientation</h4>
				<table>
					<tr>
						<td>
							<label for="r-top">top </label>
						</td>
						<td>
							<input type="radio" id="r-top" name="orientation" checked="checked" value="top" />
						</td>
					</tr>
					<tr>
						<td>
							<label for="r-bottom">bottom </label>
						</td>
						<td>
							<input type="radio" id="r-bottom" name="orientation" value="bottom" />
						</td>
					</tr>
					<tr>
						<td>
							<label for="r-left">left </label>
						</td>
						<td>
							<input type="radio" id="r-left" name="orientation" value="left" />
						</td>
					</tr>
					<tr>
						<td>
							<label for="r-right">right </label>
						</td>
						<td>
							<input type="radio" id="r-right" name="orientation" value="right" />
						</td>
					</tr>
				</table>
				<h4>Options</h4>
				<blockquote>
					<div>Levels to view:</div>
					<div>Node width:</div>
					<div>Node height:</div>
					<div>Nodes distance:</div>
					<div>Animation duration:</div>
					<div>Wordwrap:</div>
				</blockquote>
			</div>
			<div id="log"></div>
		</div>
	</body>
</html>