<!DOCTYPE html>
<html lang="en">
    <head>
		<title>Frame View: 03 List.</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<style type="text/css" media="screen">
			.fullScreen {
				overflow: hidden;
			}
            body
            {
                font-family: Verdana,Arial,sans-serif;
                font-size:8pt;
            }
            .wrap {
                width:1250px;
                border: 4px ridge gray;
                height:300px;
			}
			.frameList {
                float:left;
                width:256px;
			}
			.nodeList {
                float:left;
                width:256px;
			}
			.linkList {
                float:left;
                width:256px;
			}
			.aspectList {
                float:left;
                width:256px;
			}
            .ui-button {
                font-size:8pt !important;
            }
		</style>

		<script src="../../Core/Frame.js" type="text/javascript" charset="utf-8"></script>
        <link href="css/dark-hive/jquery-ui.css" rel="stylesheet">
        <script src="js/jquery-1.9.1.js "></script>
        <script src="js/ui/jquery.ui.core.js"></script>
        <script src="js/ui/jquery.ui.widget.js"></script>
        <script src="js/ui/jquery.ui.button.js"></script>
        <script src="js/ui/jquery.ui.mouse.js"></script>
        <script src="js/ui/jquery.ui.resizable.js"></script>
        <script src="js/ui/jquery.ui.draggable.js"></script>
        <script src="js/ui/jquery.ui.sortable.js"></script>
        <script src="js/ui/jquery.ui.droppable.js"></script>
		<script type="text/javascript" charset="utf-8">
            var frame = null;
			var frameControl = null;

            var viewerCount = 0;
            
            var activeViewerNumber = 0;

			function Selection()
			{
				var node = null;
				var link = null;
				var aspect = null;

				this.setNode = function(newNodeId)
				{
					node = newNodeId;
					link = null;
					aspect = null;
				};
				this.setLink = function(newLinkId)
				{
					if (node === null)
						return;
					link = newLinkId;
					aspect = null;
				};
				this.setAspect = function(newAspectId)
				{
					if (node === null || link === null)
						return;
					aspect = newAspectId;
				};
				this.get = function()
				{
					return [node, link, aspect];
				};
				this.reset = function()
				{
					node = null;
					link = null;
					aspect = null;
				};
			}

			var selection = new Selection();

			function loadFrame(frameJSON)
			{
				var initNodes;
				try
				{
					initNodes = JSON.parse(frameJSON).nodes;
				}
				catch (e)
				{
					console.log('Can not parse given content string as JSON. String: ' + frameJSON + '; Name: ' + e.name + '; Desc: ' + e.message);
					initNodes = {};
				}

				frame = new Frame(initNodes);
				frameControl = new FrameControl(frame);
			}

    		function getNodeContent(nodeId)
			{
				var nodeControl = frameControl.getElement(nodeId);
				return nodeControl.getContent();
			}

    		function onNodeButtonClick()
			{
				selection.setNode(this.title);
                var idd = this.parentNode.parentNode.id
				viewFrame(idd.substr(idd.length - 1));
			}
    		function onSelectButtonClick()
			{
				selection.setNode(this.title);
                var idd = this.parentNode.id
				viewFrame(idd.substr(idd.length - 1));
			}
			function onLinkButtonClick()
			{
				selection.setLink(this.title);
                var idd = this.parentNode.parentNode.id
                viewFrame(idd.substr(idd.length - 1));
			}
			function onAspectButtonClick()
			{
				selection.setAspect(this.title);
                var idd = this.parentNode.parentNode.id
                viewFrame(idd.substr(idd.length - 1));
			}

			function visualizeNodeContent(container, elementId, onButtonClick)
			{
				var nodeControl = frameControl.getElement(elementId[0]);
				var matrix = nodeControl.getMatrix();
				for (var linkId in matrix)
				{
					var viewElement = document.createElement("div");
					var elementButton = document.createElement("button");
					elementButton.innerHTML = getNodeContent(linkId);
					elementButton.title = linkId;
					elementButton.onclick = onButtonClick;
                    viewElement.appendChild(elementButton);
					container.appendChild(viewElement);
                }
                $("button").button();
			}

			function visualizeLinkContent(container, elementId, onButtonClick)
			{
				var nodeControl = frameControl.getElement(elementId[0]);
				var linkControl = nodeControl.getElement(elementId[1]);
				var matrix = linkControl.getMatrix();
				for (var aspectId in matrix)
				{
					var viewElement = document.createElement("div");
					var elementButton = document.createElement("button");
					elementButton.innerHTML = getNodeContent(aspectId);
					elementButton.title = aspectId;
					elementButton.onclick = onButtonClick;
                    viewElement.appendChild(elementButton);
					container.appendChild(viewElement);
				}
                $("button").button();
			}

			function viewFrame(viewerCountNumber)
			{
				$("#frameView"+viewerCountNumber).innerHTML = "[frame]";
				var frameMatrix = frameControl.getMatrix();
				for (var nodeId in frameMatrix)
				{
					var frameViewElement = document.createElement("div");
					var nodeButton = document.createElement("button");
					nodeButton.innerHTML = getNodeContent(nodeId);
					nodeButton.title = nodeId;
					nodeButton.onclick = onNodeButtonClick;
					frameViewElement.appendChild(nodeButton);
					$("#frameView"+viewerCountNumber).append(frameViewElement);
				}
                var node = "nodeView"+viewerCountNumber;
                var link = "linkView"+viewerCountNumber;
                var aspect = "aspectView"+viewerCountNumber;
                var containers = [node, link, aspect];
				var emptyValues = ['[node]', '[link]', '[aspect]'];
				var onButtonClicks = [onLinkButtonClick, onAspectButtonClick, null];
				var visualizeContent = [visualizeNodeContent, visualizeLinkContent, null];

				var selectionElements = selection.get();
				for (var i in selectionElements)
				{
					var container = document.getElementById(containers[i]);
					var elementId = selectionElements[i];
					if (elementId === null)
					{
						container.innerHTML = emptyValues[i];
					}
					else
					{
						container.innerHTML = getNodeContent(elementId);//here's wrong elementID. It produces error for few viewer

						var elementButton = document.createElement("button");
						elementButton.innerHTML = 'select';
						elementButton.title = elementId;
						elementButton.onclick = onSelectButtonClick;
						container.appendChild(elementButton);

						if (visualizeContent[i] !== null)
						{
							var idArray = i == 0 ? [elementId]:
								i == 1 ? [selectionElements[i-1], elementId]:
									i == 2 ? [selectionElements[i-2], selectionElements[i-1], elementId]:
										null;
							visualizeContent[i](container, idArray, onButtonClicks[i]);
						}
					}
				}
                $("button").button();
			}

			function onClickLoadFrame(source)
			{
				loadFrame(source.value);
				source.value = '';
				viewFrame(activeViewerNumber);
			}

			function onResetFrameSelection()
			{
				selection.reset();
				viewFrame(activeViewerNumber);
			}

            //these two functions create new viewer
            function createViewer()
            {
                viewerCount++;
                var newViewer = document.createElement("div");
                newViewer.className = "wrap";
                newViewer.id = "wrapViewer" + viewerCount;
                newViewer.appendChild(createViewerColumn("frame"));
                newViewer.appendChild(createViewerColumn("node"));
                newViewer.appendChild(createViewerColumn("link"));
                newViewer.appendChild(createViewerColumn("aspect"));
                var deleteViewer = document.createElement("button");
                deleteViewer.className = "deleteViewer";
                deleteViewer.id = "delete" + viewerCount;
                deleteViewer.innerHTML = 'Delete Viewer';
                newViewer.appendChild(deleteViewer);
                $("#mainParent").append(newViewer);
                $("button").button();
            }
            function createViewerColumn(name)
            {
                var columnDiv = document.createElement("div");
                columnDiv.className = name + "List";
                columnDiv.id = name + "View" + viewerCount;
                columnDiv.innerHTML = "[" + name + "]";
                return columnDiv;
            }
            
            function newViewerRuning()
            {
                activeViewerNumber = document.getElementById("activeViewerNumber").value;
                onClickLoadFrame(document.getElementById('frameSource'));
            }

            $(function () {
                $("button").button();
                $("#loadFrame").button( "option", "icons", { primary: null, secondary: "ui-icon-arrowthick-1-e" } ).click( function() {onClickLoadFrame(document.getElementById('frameSource'))});
                $("#turnOnNewViewer").button( "option", "icons", { primary: null, secondary: "ui-icon-arrowthick-1-e" } ).click( function() {newViewerRuning()});
                $("#resetSelection").button().click(function(){onResetFrameSelection();});
                $("#addViewer").button().click(function(){createViewer()});
                
                $("body").on("click", ".deleteViewer", function(){
                    $("#wrapViewer" + this.id.substr(this.id.length - 1)).remove();
                    viewerCount--;
                });
                
                //this code make viewers draggable. Uses libraries.
                $('#mainParent').sortable({
                    connectWith: '#mainParent',
                    cursor: 'pointer',
                    scroll: "true" //this string turns on scroll, but scroll is on drag-space
                }).droppable({
                    activeClass: 'highlight',
                    drop: function(event, ui) {
                        var $li = $('.wrap');
                        $li.appendTo(this);
                    }
                });
            });
		</script>
	</head>
	<body>
		<div id="source">
			<textarea id="frameSource">Place your Frame here.</textarea>
			<button id="loadFrame">
				Load Frame
			</button>
        </div>
        <div>
            <button id="resetSelection">
				Reset Selection
			</button>
		</div>
        <div>
            <button id="addViewer">
    			Add New Viewer
			</button>
		</div>
        <div>
            <textarea id="activeViewerNumber"></textarea>
            <p>Please don't leave this field empty</p>
            <button id="turnOnNewViewer">
                Load Frame To other viewers
			</button>
		</div>
        <div id="mainParent">
    		<div class="wrap" id="wrapViewer0">
                <div class="frameList" id="frameView0">
    	            [frame]
                </div>
                <div class="nodeList" id="nodeView0">
    		        [node]
                </div>
                <div class="linkList" id="linkView0">
    		        [link]
                </div>
                <div class="aspectList" id="aspectView0">
    		        [aspect]
                </div>
                <button class="deleteViewer" id="delete0">
                    Delete Viewer
                </button>
            </div>
        </div>
	</body>
</html>