<!DOCTYPE html>
<html>
	<head>
		<title>Frame View. Standard List.</title>
        <style>
        <!--
            .nodeContainer,
            .atomContainer      { font-size:10pt; background-color: #EEF5FA; padding: 10px; margin: 20px;}

            .nodeContainer      { width: 300px;}
            .atomContainer      { background-color: #DAE8F6; margin: 20px auto;}

            .nodeContainer a,
            .atomContainer a    { font-size:9pt; width: 100%; text-align: right; display:block;}
        -->
        </style>
		<script src="../../Core/Content.js"></script>
		<script src="../../Core/Frame.js"></script>
		<script>

			var frame           = new Frame();
            var frameControl    = new FrameControl(frame);
            var frameContainer  = new FrameContainer();

			function FrameContainer()
			{
				this.reset = function(nodeList)
				{
					nodeList.innerHTML = '';
				};

				this.addNode = function(nodeList, nodeContainerId)
				{
					var nodeContainer = document.createElement('div');
					nodeContainer.innerHTML = '<p>NodeId: ' + nodeContainerId + '</p>';
					nodeContainer.innerHTML += '<a href="javascript:void(0);" onclick="javascript:onClickDelNode(\'' + nodeContainerId + '\');">del node</a>';
                    nodeContainer.innerHTML += '<a href="javascript:void(0);" onclick="javascript:onClickAddLink(\'' + nodeContainerId + '\');">add link</a>';
                    nodeContainer.innerHTML += '<a href="javascript:void(0);" onclick="javascript:onClickChangeNodeContent(\'' + nodeContainerId + '\');">change content</a>';
					nodeContainer.innerHTML += '<p id="'+ nodeContainerId + '_content"></p>';
                    nodeContainer.innerHTML += '<p id="'+ nodeContainerId + '_links"></p>';
                    nodeContainer.setAttribute('class', 'nodeContainer');
					nodeContainer.setAttribute('id', nodeContainerId);
					nodeList.appendChild(nodeContainer);
				};

				this.delNode = function(nodeContainerId)
				{
				    var nodeContainer = document.getElementById(nodeContainerId);
                    nodeContainer.parentNode.removeChild(nodeContainer);
				};

                this.setNodeContent = function(nodeId, newContent)
				{
	                var nodeContent = document.getElementById(nodeId + '_content');
	                nodeContent.innerHTML = newContent;
				};

                this.setNodeTags = function(nodeId, tags)
    			{
	                var nodeLinks = document.getElementById(nodeId + '_links');
                    nodeLinks.innerHTML = '';
                    for (var i in tags) nodeLinks.innerHTML += i;

                    var select = document.getElementById('select_' + nodeId);
                    select.parentNode.removeChild(select);
				};

                /*
				this.addAtom = function(nodeId, index)
				{
                    var atomContainer = document.createElement('div');
                    atomContainer.innerHTML = '<p>Atom</p>';
                    atomContainer.innerHTML += '<a href="javascript:void(0);" onclick="javascript:onClickDelAtom(\'' + nodeId + '\', \'' + index + '\');">del atom</a>';
                    atomContainer.innerHTML += '<a href="javascript:void(0);" onclick="javascript:onClickChangeAtomContent(\'' + nodeId + '\', \'' + index + '\');">change content</a>';
                    atomContainer.innerHTML += '<p id="'+ nodeId + '_content_atom_' + index + '"></p>';
                    atomContainer.setAttribute('class', 'atomContainer');
                    atomContainer.setAttribute('id', nodeId + '_atom_' + index);
                    var nodeContainer = document.getElementById(nodeId);
					nodeContainer.appendChild(atomContainer);
				};


				this.delAtom = function(atomContainerId)
				{
					var atomContainer = document.getElementById(atomContainerId);
                    atomContainer.parentNode.removeChild(atomContainer);
				};
                */

                this.refreshFrame = function(nodeList)
				{
					this.reset(nodeList);
					var matrix = frameControl.getMatrix();

					for (var nodeId in matrix)
					{
						this.addNode(nodeList, nodeId);
						this.refreshNode(nodeId);
					}
				};

				this.refreshNode = function(nodeId)
				{
					var nodeControl = frameControl.getNodeControl(nodeId);
    				this.setNodeContent(nodeId, nodeControl.getAtomControl(0).getContent());
				};
			}

            /////////////////////
            //  Handlers       //
            /////////////////////

			function onClickLoadJSON(nodeList, source)
			{
				var initNodes;
				try
				{
					initNodes = JSON.parse(source.value).nodes;
				}
				catch (e)
				{
					console.log('Can not parse given content string as JSON. String: ' + source + '; Name: ' + e.name + '; Desc: ' + e.message);
					initNodes = {};
				}

				frame = new Frame(initNodes);
                frameControl = new FrameControl(frame);
				frameContainer.refreshFrame(nodeList);
			}

			function onClickSaveJSON(destination)
			{
				destination.value = frameControl.stringify();
			}

			function onClickAddNode(nodeList)
			{
                var nodeId = frameControl.add();
                frameContainer.addNode(nodeList, nodeId);

                //auto add atom
                var nodeControl = frameControl.getNodeControl(nodeId);
    			nodeControl.add();
			}

			function onClickDelNode(nodeId)
			{
                if (frameControl.remove(nodeId)) frameContainer.delNode(nodeId);
			}

            function onClickChangeNodeContent(nodeId)
			{
				var nodeControl = frameControl.getNodeControl(nodeId);
                if (nodeControl === null)
                	return;
				var atomControl = nodeControl.getAtomControl(0);
                if (atomControl === null)
                	return;

                var newContent = prompt('new content:', atomControl.getContent());
				atomControl.setContent(newContent);
				frameContainer.setNodeContent(nodeId, atomControl.getContent());
			}

            /*
			function onClickNewAtom(nodeId)
			{
				var nodeControl = frameControl.getNodeControl(nodeId);
				if (nodeControl !== null) frameContainer.addAtom(nodeId, nodeControl.add());
			}

			function onClickAtomLink(nodeList)
			{
				alert(nodeList);
			}

			function onClickAtomLinkType(nodeList)
			{
				alert(nodeList);
			}

			function onClickDelAtom(nodeId, atomIndex)
			{
				var nodeControl = frameControl.getNodeControl(nodeId);

                if (nodeControl !== null && nodeControl.remove( atomIndex ))
                {
                    frameContainer.delAtom(nodeId + '_atom_' + atomIndex);
                }
			}
            */
            function onClickAddLink(nodeContainerId)
            {
                var select = document.createElement('select');
                select.setAttribute('id', 'select_' + nodeContainerId);
                select.options[0] = new Option('Выберите ноду для связывания', null);

                var matrix = frameControl.getMatrix();
				for (var nodeId in matrix)
				{
					select.options[select.options.length] = new Option(nodeId, nodeId);
				}

                select.setAttribute('onChange', 'onAddLink("' + nodeContainerId + '")');

                var nodeContainer = document.getElementById(nodeContainerId);
                nodeContainer.appendChild(select);
            }

            function onAddLink(nodeId)
            {
                var select = document.getElementById('select_' + nodeId);
                var nodeSelected = select.options[select.selectedIndex].value;
                var tag = {};
                tag[nodeSelected] = false;
                frameContainer.setNodeTags(nodeId, tag);
            }
		</script>
	</head>
	<body>
		<div id="frameView">
			<div id="commands">
				<button onclick="onClickAddNode(document.getElementById('nodeList'));">new node</button>
				;
				<button onclick="onClickAtomLink(document.getElementById('nodeList'));">atom set abstract link</button>
				<button onclick="onClickAtomLinkType(document.getElementById('nodeList'));">atom set link type</button>
				;
				<textarea id="loadInput"></textarea>
				<button onclick="onClickLoadJSON(document.getElementById('nodeList'), document.getElementById('loadInput'));">load from JSON</button>
				;
				<textarea id="saveOutput"></textarea>
				<button onclick="onClickSaveJSON(document.getElementById('saveOutput'));">save to JSON</button>
			</div>
			<div><br></div>
			<div id="nodeList">
			</div>
		</div>
	</body>
</html>